<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/formStyles.css" rel="stylesheet" />
    <title>Solving LCS prorblem</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
